header {
    background: #C78C19;
}

.navegacao a:hover{
    color: white;
}

main {
    margin: 0 auto;
    background: linear-gradient(360deg, white, #dfdfdf, #cfcfcf, #cdcdcd);
    box-shadow: inset 0px 11px 17px -15px black;
}

form {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

form legend {
    font-size: 1.2em;
    font-weight: bold;
}

form label {
    display: block ;
    margin-bottom: 15px 0;
}

.principal input, textarea {
    display: block ;
    margin: 5px 0 15px 0;
    width: 50%;
}

.contato, legend {
    margin: 15px 0;
}

.checkbox {
    margin: 20px 0;
}

#envia {
    width: 20%;
    padding: 10px;
    font-size: 1.2em;
    background-color:rgb(238, 200, 95);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#envia:hover {
    background-color: #C78C19;
    transition: 1s;
    transform: scale(1.1);
    color: white;
}

table {
    width: 40%;
    text-align: center;
    margin: 20px 0;
}

table thead {
    font-weight: bold;
    color: white;
    background-color: #C78C19;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.tb-horario {
    margin: 20px 0;
}

@media screen and (max-width: 700px) {
    
    .container {
        width: auto;
    }

    .container h1 img {
        width: 25%;
        margin-left: 20px;
    }

    .navegacao {
        top: 0px;
        right: 20px;
    }
    .navegacao li{
        display: block;
        margin-top: 15px;
    }

    form {
        font-size: 1.2em;
    }

    form label{
        color: #333;
    }

    .principal input, .principal textarea, .tb-horario table, #envia {
        width: 100%;
    }
}

