.banner{
    width: 100%;
    box-shadow: 1px 2px 9px black;
}

.conteudo-principal{
    width: 70%;
    margin: 10px auto;
}

.conteudo-principal p{
    margin: 20px 0;
}

.conteudo-principal strong{
    font-weight: bold;
}

.conteudo-principal em{
    font-style: italic;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.utensilios {
    width: 10%;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios{
    background: linear-gradient(white, #c9c9c9, #c5c5c5, #ccc);
    padding: 20px;
    margin: 0 auto;
}

.conteudo-beneficios {
    width: 50%;
    margin: 0 auto;
}

.lista-beneficios{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    font-size: 1.2em;
}

.itens {
    line-height: 1.4em;
}

.img-beneficios {
    width: 60%;
    box-shadow: 1px 2px 9px black;  
}

.itens{
    font-style: italic;
}

.itens:before {
    content: "✶";
}

.video{
    text-align: center;
    margin: 2em auto;
}

.mapa {
    background: #ccc;
    padding: 3em 0 1em 0;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa iframe {
    width: 98%;
    margin: 0 auto;
    display: block;
    box-shadow: 1px 2px 9px black; 
}


@media screen and (max-width: 705px) { 
    .container, .conteudo-principal, .conteudo-beneficios, .lista-beneficios, .mapa, .video {
        width: auto !important;
    }

    .container h1 img {
        width: 40%;
    }

    .utensilios {
        width: 20% !important;
        margin: 2px 10px 5px 5px !important;
    }

    .conteudo-principal {
        margin: 10px 10px !important;
        font-size: 1.2em;
    }

    .lista-beneficios {
        margin-bottom: 10px;
    }

    .img-beneficios {
        width: 100% !important;
    }

    h1 {
        text-align: center;
    }

    .navegacao {
        position:static;
        font-size: .1em;
        text-align: center;
    }


    .lista-beneficios, .img-beneficios, .video iframe {
        width: 100%
    }

    .mapa iframe {
        width: 90%;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 373px) { 

    .navegacao li {
        display: block;
        text-align: center;
        margin: 15px 0 0 0;
    }
}
